* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

/* 버튼 기본 값 없애기 */
button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration-line: none;
}

.logo {
  margin-left: 25px;
  img {
    width: 132px;
    height: 35px;
  }
}

.navigator {
  background-color: #000;
  padding: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: right;
}

.nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  font-size: 16px;
}

.nav-item {
  padding-right: 35px;
  font-family: Pretendard-SemiBold;
}
.nav-link:hover,
.nav-link.active {
  color: #657eff;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.mainWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #eeeeee;
}
.mainTitle {
  text-align: left;
  background-color: #eeeeee;
  font-family: Pretendard-Bold;
  font-size: 38px;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 50px;
  > span {
    margin-right: 50px;
    font-size: 14px;
  }
}

.des {
  padding-bottom: 80px;
}
.cover {
  width: 550px;
  height: 550px;
}
.card {
  width: 330px;
  height: 483px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.card:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(0.97);
}

.footer {
  background-color: #000;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.footer .nav {
  justify-content: center;
  margin-top: 30px;
}

.footer .nav-item {
  padding: 0 10px;
}

.footer .nav-link {
  color: #fff;
  font-size: 14px;
}

.footer .nav-link:hover {
  color: #657eff;
}
.footer p {
  color: white;
  font-family: Pretendard-Regular;
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
  margin-right: 30px;
}
.sns {
  text-align: center;
  margin-top: 20px;
  margin-right: 25px;
  .youtube {
    width: 20px;
    height: 14px;
  }
  img {
    width: 16px;
    height: 16px;
  }
}

.logo2 {
  margin-right: 30px;
  img {
    width: 130px;
    height: 32px;
  }
}

hr {
  border: 0;
  height: 2px;
  background: #848484;
  margin: 40px 70px;
  margin-bottom: 50px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h2 {
    margin-bottom: 18px;
  }
  max-height: 600px;
  overflow-y: scroll;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-family: Pretendard-Regular;
}

.closeBtn {
  background-color: #93a4ff;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-family: Pretendard-SemiBold;
  cursor: pointer;
}

.closeBtn:hover {
  background-color: #8696e7;
}
