* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none; /* 텍스트 선택 비활성화 */
}

/* 버튼 기본 값 없애기 */
button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration-line: none;
}

.mainWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  margin-left: 25px;
  > img {
    width: 132px;
    height: 35px;
  }
}

/* navigator의 배경색을 검정색으로 설정 */
.navigator {
  background-color: #000;
  padding: 10px; /* 필요에 따라 패딩을 조정하세요 */
  display: flex;
  align-items: center;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: right;
}

/* nav-item의 기본 글자색을 흰색으로 설정 */
.nav-item .nav-link {
  color: #fff;
  text-decoration: none; /* 밑줄 제거 */
  padding: 10px; /* 필요에 따라 패딩을 조정하세요 */
  display: inline-block; /* 블록 요소처럼 동작하도록 설정 */
}

/* nav-item에 마우스를 올렸을 때 글자색을 노란색으로 변경 */
.nav-item {
  padding-right: 35px;
  font-family: Pretendard-SemiBold;
}

.nav-link:hover,
.nav-link.active {
  color: #657eff;
}

/* nav-item을 가로로 정렬 */
.navbar-nav {
  list-style: none; /* 기본 목록 스타일 제거 */
  display: flex;
  flex-direction: row;
}

.swiper-container {
  overflow-x: hidden;
  display: flex;
}
.swiper-wrapper {
  display: flex;
  grid-template-columns: repeat(2, 1fr); /* 3열 그리드 설정 */
}

.swiper-button-next,
.swiper-button-prev {
  color: #b6a368;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  text-align: left;
  font-family: Pretendard-Bold;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 50px;
  > span {
    font-size: 14px;
  }
}

iframe {
  max-width: 560px;
  max-height: 315px;
  min-width: 400px;
  min-height: 315px;
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}

.footer {
  background-color: #000;
  padding: 20px;
  text-align: center;
  color: #fff;
  /* margin-top: 150px; */
  position: relative;
}

.footer .nav {
  justify-content: center;
  margin-top: 30px;
}

.footer .nav-item {
  padding: 0 10px;
}

.footer .nav-link {
  color: #fff;
  font-size: 14px;
}

.footer .nav-link:hover {
  color: #657eff;
}
.footer p {
  color: white;
  font-family: Pretendard-Regular;
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
  margin-right: 30px;
}
.sns {
  text-align: center;
  margin-top: 20px;
  margin-right: 25px;
  .youtube {
    width: 20px;
    height: 14px;
  }
  img {
    /* padding-right: 30px; */
    width: 16px;
    height: 16px;
  }
}

.logo2 {
  margin-right: 30px;
  img {
    width: 130px;
    height: 32px;
  }
}

hr {
  border: 0;
  height: 2px;
  background: #2d2d2d;
  margin: 20px 100px;
  margin-top: 15px;
}
